# Zhenqiang.YING
downloads
report
tmp
build-OpenCarVision-Desktop_Qt_5_2_1_MinGW_32bit-Debug
build-OpenCarVision-Desktop_Qt_5_2_1_MinGW_32bit-Release
*.autosave
OpenCarVison\OpenCarVison.pro.user

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
